.footer__container {
  background-color: var(--main-color-dark);
}

.wallHub__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wallHub__footer a,
.wallHub__footer p {
  font-size: var(--small-font-size);
  font-weight: var(--font-weight-mid);
  color: var(--light-color-gray);
  margin: 0.5rem 0;
}

.wallHub__footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  text-align: left;
}

.wallHub__footer-links_logo img {
  width: 120px;
  margin: 0.5rem 0;
}

.wallHub__footer-link h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-mid);
  color: var(--main-color-light);
  margin: 0.5rem 0;
}

.wallHub__footer-link li {
  margin: 0.5rem 0;
}

.wallHub__footer-link a:hover {
  color: var(--main-sky-blue);
  transition: var(--default-transition);
}

.wallHub__footer-copyright {
  align-self: center;
  margin-top: 1rem;
}

.wallHub__footer-link_social {
  margin: 0 0.5rem 0 0;
}
