.wallHub__signup-form {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.wallHub__signup-agreement_p {
   max-width: var(--login-input-x);
   font-size: 0.7rem;
   margin-top: 0.5rem;
}

.wallHub__signup-agreement_p a {
   color: var(--main-sky-blue);
   text-decoration: none;
}

.wallHub__signup-hr {
   width: var(--login-input-x);
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
   border: none;
   border-bottom: solid 1px #cfdfe7;
}

.wallHub__signup-link_login {
   font-size: var(--small-font-size);
   font-weight: var(--font-weight-mid);
   color: var(--main-color-dark);
   margin: 1.5rem 0;
   text-decoration: none;
}

@media screen and (max-width: 550px) {
   .wallHub__signup-logo {
      width: 120px;
   }

   .wallHub__signup-form>button {
      margin-top: 1.25rem;
   }

   .wallHub__signup-hr {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
   }

   .wallHub__signup-google_button {
      margin-top: 0.5rem;
   }

   .wallHub__signup-link_login {
      margin-top: 1rem;
   }
}