.wallHub__signup {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-color: var(--bg-color-light);
   position: relative;
}

.wallHub__signup-logo {
   width: 140px;
   position: absolute;
   top: 1rem;
   left: var(--margin-x);
}

.wallHub__signup-head {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   margin-top: 2rem;
}

.wallHub__signup-head h2 {
   font-size: var(--h2-font-size);
   font-weight: var(--font-weight-extreme);
   color: var(--text-color-dark);
}

.wallHub__signup-container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-top: 2rem;
   padding: 2.5rem;
   border-radius: 5px;
   background-color: #fff;
   border:solid 1px #cfdfe7;
}


.wallHub__signup-container form {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.wallHub__signup-email,
.wallHub__signup-password,
.wallHub__signup-name {
   border: solid 1px #cfdfe7;
   margin-top: .5rem;
   padding: .75rem;
   line-height: 20px;
   font-size: var(--footer-a-font-size);
   font-weight: var(--font-weight-mid);
   color: var(--text-color-dark);
   background-color: transparent;
   border-radius: 5px;
   width: var(--login-input-x);
   height: var(--login-input-y);
}

.wallHub__signup-container form input:focus {
   outline: solid 1px var(--sky-blue);
}

.wallHub__signup-container form input:hover {
   border: solid 1px var(--sky-blue);
}

.wallHub__signup-password_container {
   width: var(--login-input-x);
   height: var(--login-input-y);
   margin-top: .5rem;
   position: relative;
}

.wallHub__signup-password {
   margin-top: 0;
}

.wallHub__signup-password_container span {
   position: absolute;
   top: 54%;
   right: .75rem;
   transform: translateY(-50%);
   cursor: pointer;
}

.wallHub__signup-label_container {
   font-size: var(--footer-a-font-size);
   font-weight: var(--font-weight-mid);
   color: var(--medium-gray);
   margin-top: 1.5rem;
   width:100%;
   text-align: left;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.wallHub__signup-label_container:nth-child(1) {
   margin-top: 0rem;
}

.wallHub__signup-container form>button {
   border: none;
   outline: none;
   width: var(--login-input-x);
   height: var(--login-input-y);
   margin-top: 1.75rem;
   line-height: 20px;
   font-size: var(--footer-a-font-size);
   font-weight: var(--font-weight-mid);
   color: var(--bg-color-light);
   background-color: var(--sky-blue);
   border-radius: 5px;
   cursor: pointer;
}

.wallHub__signup-agreement_p{
   max-width: var(--login-input-x);
   font-size: .7rem;
   margin-top: .5rem;
}

.wallHub__signup-agreement_p a{
   color: var(--sky-blue);
   text-decoration: none;
}

.wallHub__signup-hr {
   width: var(--login-input-x);
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
   border: none;
   border-bottom: solid 1px #cfdfe7;
}

.wallHub__signup-google_button{
   display: flex;
   align-items: center;
   justify-content: center;
   width: var(--login-input-x);
   height: var(--login-input-y);
   margin-top: .75rem;
   line-height: 20px;
   font-size: var(--footer-a-font-size);
   font-weight: var(--font-weight-mid);
   color: var(--text-color-dark);
   background-color: var(--google-blue);
   border-radius: 5px;
   border: 1px solid var(--text-color-dark);
   cursor: pointer;
}

.wallHub__signup-google_button svg{
   margin-right: .5rem;
}

.wallHub__signup-link_login{
   font-size: var(--footer-a-font-size);
   font-weight: var(--font-weight-mid);
   color: var(--text-color-dark);
   margin: 1.5rem 0;
   text-decoration: none;
}

@media screen and (max-width:550px){
   .wallHub__signup-logo {
      width: 120px;
   }
   .wallHub__signup-container {
      padding: 1.5rem;
   }
   .wallHub__signup-container form>button {
      margin-top: 1.25rem;
   }
   .wallHub__signup-hr {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
   }
   .wallHub__signup-google_button{
      margin-top: .5rem;
   }
   .wallHub__signup-link_login{
      margin-top: 1rem;
   }
}