* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}

body {
   font-family: var(--font-family);
   background-color: var(--bg-color);
   margin-top: 4.3rem;
}

li{
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}


.section__padding {
   padding: 4rem 6rem;
}

.section__margin {
   margin: 4rem 6rem;
}

.container{
   max-width: 1440px;
   margin: 0 auto;
}

@media screen and (max-width: 700px) {
   .section__padding {
      padding: 4rem;
   }

   .section__margin {
      margin: 4rem;
   }
}

@media screen and (max-width: 550px) {
   .section__padding {
      padding: 4rem 2rem;
   }

   .section__margin {
      margin: 4rem 2rem;
   }
}

@media screen and (min-width: 1440px) {
   .container {
      padding: 0 auto;
   
}