@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

:root {
   /* -------------Colors-------------- */
   --bg-color-light: #f8f8f8;
   --text-color-dark: #333333;
   --text-color-footer: #acacac;
   --medium-gray: #3a3a3a;
   --sky-blue: #33a1de;
   --light-sky-blue: #66c7f4;
   /* --------fonts and typography------- */
   --font-family: 'Inter', sans-serif;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
   width: 6px;
   background-color: #f5f5f5;
}

/* Track */
::-webkit-scrollbar-track {
   background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: #555;
}