/** ---------------nav links---------------  */

.wallHub__nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* ? font color will change when its transparent class name */
.wallHub__header-transparent .wallHub__nav-button a {
   color: var(--main-color-light);
}

/* ? font color will change when its default class name */
.wallHub__header-default .wallHub__nav-button a {
   color: var(--main-color-dark);
}

.wallHub__nav-upload{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: .5rem 1rem;
   font-size: var(--small-font-size);
   background: var(--main-sky-blue);
   color: var(--main-color-light);
   border-radius: 5px;
}

.wallHub__nav-icon {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 1rem;
   cursor: pointer;
   border: none;
   background: transparent;
}

.wallHub__nav-icon svg:hover {
   fill: #808080;
   transition: var(--default-transition);
}

/*! font colors are specified at top */
.wallHub__nav-button a {
   margin: 0 0 0 2rem;
   font-size: var(--a-font-size);
   font-weight: var(--font-weight-mid);
}

.wallHub__nav-button a:hover {
   color: var(--main-sky-blue);
   font-weight: var(--font-weight-high);
   transition: var(--default-transition);
}

.wallHub__nav-signup button,
.wallHub__nav-login button{
   padding: 0.5rem 1rem;
   border: none;
   border-radius: 5px;
   background-color: var(--main-sky-blue);
   color: var(--main-color-light);
   font-size: var(--a-font-size);
   font-weight: 500;
   cursor: pointer;
}

.wallHub__nav-login {
   display: none;
}

@media screen and (max-width:1050px) {

   .wallHub__nav-signup,
   .wallHub__nav-links {
      display: none;
   }

   .wallHub__nav-login {
      display: block;
   }
}

@media screen and (max-width: 1050px) {
   .wallHub__nav a {
      margin: 0;
   }
}

@media screen and (max-width: 768px){
   .wallHub__nav-upload{
      display: none;
   }
}