.wallHub__login-form {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

/* ------------------checkbox------------------ */

.wallHub__login-checkbox {
   display: flex;
   align-items: center;
   justify-content: start;
   width: 100%;
   margin-top: 1rem;
   font-size: var(--small-font-size);
   position: relative;
}

.wallHub__login-checkbox>label {
   margin-left: 0.5rem;
}

.wallHub__login-hr {
   width: var(--login-input-x);
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
   border: none;
   border-bottom: solid 1px #cfdfe7;
}

.wallHub__login-link_signup {
   font-size: var(--small-font-size);
   font-weight: var(--font-weight-mid);
   color: var(--main-color-dark);
   margin-top: 1.5rem;
   text-decoration: none;
}

@media screen and (max-width: 550px) {

   .wallHub__login-container {
      padding: 1.5rem;
   }

   .wallHub__login-form>button {
      margin-top: 1.25rem;
   }

   .wallHub__login-hr {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
   }

   .wallHub__login-google_button {
      margin-top: 0.5rem;
   }

   .wallHub__login-link_signup {
      margin-top: 1rem;
   }
}