.wallHub__google-sign_button {
   display: flex;
   align-items: center;
   justify-content: center;
   width: var(--login-input-x);
   height: var(--login-input-y);
   margin-top: .75rem;
   line-height: 20px;
   font-size: var(--small-font-size);
   font-weight: var(--font-weight-mid);
   color: var(--main-color-dark);
   background-color: var(--google-blue);
   border-radius: 5px;
   border: 1px solid var(--main-color-dark);
   cursor: pointer;
}

.wallHub__google-sign_button svg {
   margin-right: .5rem;
}