.wallHub__login {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-color: var(--bg-color-light);
   position: relative;
}

.wallHub__login-logo {
   width: 140px;
   position: absolute;
   top: 1rem;
   left: var(--margin-x);
}

.wallHub__login-head {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
}

.wallHub__login-head h2 {
   font-size: var(--h2-font-size);
   font-weight: var(--font-weight-extreme);
   color: var(--text-color-dark);
}

.wallHub__login-container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-top: 2rem;
   padding: 2.5rem;
   border-radius: 5px;
   background-color: #fff;
   border:solid 1px #cfdfe7;
}


.wallHub__login-container form {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.wallHub__login-email,
.wallHub__login-password {
   border: solid 1px #cfdfe7;
   margin-top: .5rem;
   padding: .75rem;
   line-height: 20px;
   font-size: var(--footer-a-font-size);
   font-weight: var(--font-weight-mid);
   color: var(--text-color-dark);
   background-color: transparent;
   border-radius: 5px;
   width: var(--login-input-x);
   height: var(--login-input-y);
}

.wallHub__login-container form input:focus {
   outline: solid 1px var(--sky-blue);
}

.wallHub__login-container form input:hover {
   border: solid 1px var(--sky-blue);
}

.wallHub__login-password_container {
   width: var(--login-input-x);
   height: var(--login-input-y);
   margin-top: .5rem;
   position: relative;
}

.wallHub__login-password {
   letter-spacing: 3px;
   margin-top: 0;
}

.wallHub__login-password_container span {
   position: absolute;
   top: 54%;
   right: .75rem;
   transform: translateY(-50%);
   cursor: pointer;
}

.wallHub__login-label_container {
   font-size: var(--footer-a-font-size);
   font-weight: var(--font-weight-mid);
   color: var(--medium-gray);
   margin-top: 1.5rem;
   width:100%;
   text-align: left;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.wallHub__login-label_container:nth-child(1) {
   margin-top: 0rem;
}

.wallHub__login-container form>button {
   border: none;
   outline: none;
   width: var(--login-input-x);
   height: var(--login-input-y);
   margin-top: 1.75rem;
   line-height: 20px;
   font-size: var(--footer-a-font-size);
   font-weight: var(--font-weight-mid);
   color: var(--bg-color-light);
   background-color: var(--sky-blue);
   border-radius: 5px;
   cursor: pointer;
}

.wallHub__login-hr {
   width: var(--login-input-x);
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
   border: none;
   border-bottom: solid 1px #cfdfe7;
}

.wallHub__login-google_button{
   display: flex;
   align-items: center;
   justify-content: center;
   width: var(--login-input-x);
   height: var(--login-input-y);
   margin-top: .75rem;
   line-height: 20px;
   font-size: var(--footer-a-font-size);
   font-weight: var(--font-weight-mid);
   color: var(--text-color-dark);
   background-color: var(--google-blue);
   border-radius: 5px;
   border: 1px solid var(--text-color-dark);
   cursor: pointer;
}

.wallHub__login-google_button svg{
   margin-right: .5rem;
}

.wallHub__login-link_signup{
   font-size: var(--footer-a-font-size);
   font-weight: var(--font-weight-mid);
   color: var(--text-color-dark);
   margin-top: 1.5rem;
   text-decoration: none;
}

@media screen and (max-width:550px){
   .wallHub__login-logo {
      width: 120px;
   }
   .wallHub__login-container {
      padding: 1.5rem;
   }
   .wallHub__login-container form>button {
      margin-top: 1.25rem;
   }
   .wallHub__login-hr {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
   }
   .wallHub__login-google_button{
      margin-top: .5rem;
   }
   .wallHub__login-link_signup{
      margin-top: 1rem;
   }
}