.wallHub__gallery {
   margin-top: var(--header-height);
   padding: 2rem var(--margin-x);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.wallHub__gallery__header {
   width: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
}

.wallHub__gallery__header>h2 {
   color: var(--main-color-dark);
   font-size: var(--h2-font-size);
   font-weight: var(--font-weight-high);
}

.wallHub__gallery__header>p {
   margin-top: 0.5rem;
   color: var(--medium-gray);
   font-size: var(--a-font-size);
   font-weight: var(--font-weight-low);
}

.wallHub__gallery-content {
   width: 100%;
}

.wallHub__gallery-filter {
   margin-top: 2rem;
   display: flex;
   align-items: flex-start;
   justify-content: start;
   width: 100%;
}

.wallHub__gallery-filter-select {
   font-size: var(--p-font-size);
   width: 150px;
}

.wallHub__gallery-images {
   width: 100%;
   margin: 3rem 0;
}

*/ .wallHub__gallery-footer {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   margin: 3rem 0;
}