
.wallHub__home-search_div {
   background: url(../../assets/images/landscape_forest_road_1536x512px.webp);
   background-position: bottom;
   background-size: cover;
   height: var(--home-bg-height);
}

.wallHub__home-search_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   height: 100%;
   max-width: var(--home-search-bar-width);
   margin: 0 auto;
}

.wallHub__home-search_container h1 {
   font-size: var(--h1-font-size);
   font-weight: var(--font-weight-high);
   color: var(--main-color-light);
}

.wallHub__home-search_container h3 {
   font-size: var(--h3-font-size);
   font-weight: var(--font-weight-mid);
   color: var(--main-color-light);
   margin-top: 1rem;
}

.wallHub__home-search_bar {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: var(--home-search-bar-height);
   margin-top: 2rem;
   background-color: var(--main-color-light);
   border-radius: 5px;
}

.wallHub__home-search_bar form {
   width: 100%;
   height: 100%;
   padding: 0 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.wallHub__home-search_bar input {
   height: 100%;
   /* ! 27px is the size of search icon*/
   width: calc(100% - 27px);
   border: none;
   outline: none;
   font-size: var(--a-font-size);
   font-weight: var(--font-weight-mid);
   color: var(--main-color-dark);
   background-color: transparent;
}

.wallHub__home-search_bar button {
   /* button */
   size: var(----default-icon-size);
   border: none;
   outline: none;
   background-color: transparent;
   cursor: pointer;
}

/* -----------filter bar---------- */

.wallHub__home-wallpapers_filter-container {
   display: flex;
   justify-content: start;
   align-items: center;
   overflow-x: auto;
}

.wallHub__home-wallpapers_filter-container::-webkit-scrollbar {
   display: none;
}

/* button */
.wallHub__home-wallpapers_filter {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.5rem 1rem;
   margin-right: 1rem;
   border: 1px solid var(--light-color-gray);
   border-radius: 5px;
   cursor: pointer;
}

.wallHub__home-wallpapers_filter:hover {
   box-shadow: 0 0 10px var(--light-sky-blue);
}

.wallHub__home-wallpapers_filter a {
   font-size: var(--mid-font-size);
   color: var(--main-color-dark);
}