/* -------------main-------------- */

.wallHub__profile {
   margin-top: var(--header-height);
   padding: 1rem 0;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.wallHub__profile_info-container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   max-width: 600px;
   width: 100%;
}

/* -------------user info---------- */
.wallHub__profile-info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.wallHub__profile-info_col1 {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-direction: row;
}

.wallHub__profile-info_name {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   margin-left: 1rem;
}

.wallHub__profile-info_fullName {
   font-size: var(--h3-font-size);
   color: var(--main-color-dark);
   font-weight: var(--font-weight-high);
}

.wallHub__profile-info_username {
   font-size: var(--p-font-size);
   color: var(--medium-gray);
   font-weight: var(--font-weight-high);
   margin-top: .25rem;
}

.wallHub__profile-info_avatar {
   display: flex;
   align-items: center;
   justify-content: center;
}

.wallHub__profile-info_avatar img {
   width: 100px;
}

.wallHub__profile-menu-button{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--main-color-light);
   border: none;
   border-radius: 5px;
   padding: 5px;
   cursor: pointer;
}

.wallHub__profile-menu-button:hover{
   box-shadow: 0 0 2px var(--main-color-dark);
}

.wallHub__profile-menu-button:focus{
   outline: 2px solid var(--main-color-dark);
}

.wallHub__profile-menu-link-hover-red:hover {
   background-color: var(--main-color-red) !important;

}

.wallHub__profile-info_col2 {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.wallHub__profile-menu {
   position: absolute;
   top: 47px;
   right: -9px;
}


.wallHub__profile-info_count {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 50%;
   margin: auto auto;
}

.wallHub__profile-info_count-item {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
}

.wallHub__profile-info_count-item h4 {
   font-size: var(--p-font-size);
   color: var(--main-color-dark);
   font-weight: var(--font-weight-extreme);
}

.wallHub__profile-info_count-item p {
   font-size: var(--p-font-size);
   color: var(--main-color-dark);
   font-weight: var(--font-weight-low);
}

.wallHub__profile-info_col2 {
   cursor: pointer;
}

/* ----------buttons----------- */

.wallHub__profile-buttons {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
   margin-top: 1rem;
}

.wallHub__profile-buttons_share {
   font-size: var(--p-font-size);
   margin-left: .5rem;
   padding: 1px;
   border: solid 1px var(--main-color-dark);
   border-radius: 5px;
}

.wallHub__profile-buttons svg {
   cursor: pointer;
}

/* ---------profile media--------- */

.wallHub__profile-media_link {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
   margin-top: 2rem;
}

.wallHub__profile-media_images {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
   margin-top: 2rem;
   padding: 0 var(--margin-x);
}

@media screen and (max-width: 768px) {
   .wallHub__profile_info-container {
      max-width: none;
      padding: 1rem var(--margin-x);
   }
}

@media screen and (max-width: 550px) {

   .wallHub__profile-info_name {
      margin-left: .25rem;
   }

   .wallHub__profile-info_col1 {
      align-items: start;
      flex-direction: column;
   }

   .wallHub__profile-info_fullName {
      font-size: var(--p-font-size);
      margin-bottom: .5rem;
   }

   .wallHub__profile-info_username {
      font-size: var(--small-font-size);
      margin: .5rem 0;
   }

   .wallHub__profile-info_avatar img {
      width: 80px;
   }
}