.header__container {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 100;
   width: 100%;
   background-color: var(--bg-color-light);
   border-bottom: 1px solid #ccc;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wallHub__header-main {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: .25rem var(--margin-x);
   height: var(--header-height);
}

.wallHub__header__logo img {
   margin-top: 1rem;
   width: 170px;
}

.wallHub__nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.wallHub__nav a {
   margin: 0 1rem;
   font-size: var(--a-font-size);
   font-weight: var(--font-weight-mid);
   color: var(--text-color-dark);
}

.wallHub__nav a:hover {
   color: var(--sky-blue);
   font-weight: var(--font-weight-high);
   transition: var(--default-transition);
}

a.wallHub__nav-active {
   color: var(--sky-blue);
   font-weight: var(--font-weight-high);
}

.wallHub__nav-login button,
.wallHub__header-menu_login button {
   padding: 0.5rem 1rem;
   border: none;
   border-radius: 5px;
   background-color: var(--sky-blue);
   color: var(--bg-color-light);
   font-size: var(--a-font-size);
   font-weight: 500;
   cursor: pointer;
}

.wallHub__header-menu_login {
   display: none;
}

.wallHub__nav-toggler {
   cursor: pointer;
   display: none;
}

.wallHub__header-menu_links {
   display: none;
   justify-content: space-between;
   align-self: start;
   flex-direction: column;
   background-color: var(--text-color-dark);
   color: var(--bg-color-light);
}

.wallHub__header-menu_links-link,
.wallHub__header-menu_login {
   font-size: var(--a-font-size);
   font-weight: var(--nav-font-weight);
   padding: 1rem var(--margin-x);
   border: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:1050px) {
   .wallHub__nav-toggler {
      display: block;
   }

   .wallHub__header-menu_links {
      display: flex;
   }

   .wallHub__nav-links {
      display: none;
   }
}

@media screen and (max-width: 768px) {

   .wallHub__header__logo img {
      width: 150px;
   }
}

@media screen and (max-width:550px) {

   .wallHub__header__logo img {
      width: 130px;
   }

   .wallHub__nav-login {
      display: none;
   }

   .wallHub__header-menu_login {
      display: block;
   }

}