.wallHub__header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #ccc;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   padding: .5rem 6rem;
}

.wallHub__header__logo img{
   margin-top: 1rem;
   width: 170px;
}
   
.wallHub__nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.wallHub__nav a{
   margin: 0 1rem;
   font-size: 1.2rem;
   font-weight: 500;
   color: var(--text-color);
}

.wallHub__nav a:hover{
   color: var(--sky-blue);
   font-weight: 600;
   transition: all 0.3s ease-in-out;
}

a.wallHub__nav-active {
   color: var(--sky-blue);
   font-weight: 600;
}

.wallHub__nav-login button{
   padding: 0.5rem 1rem;
   border: 1px solid var(--text-color);
   border-radius: 5px;
   background-color: var(--sky-blue);
   color: var(--bg-color);
   font-size: 1.2rem;
   font-weight: 500;
   cursor: pointer;
}

/* @media screen and (max-width: 768px) {
   .wallHub__header{
       padding: .5rem;
   }
   .wallHub__header__logo img{
       width: 150px;
   }
   .wallHub__nav{
       display: none;
   }
   .wallHub__nav-login button{
       font-size: 1rem;
   }
}
    */