/* .wallHub__header{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 100;
} */
.wallHub__header-main {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #ccc;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   padding: .25rem 6rem;
}

.wallHub__header__logo img {
   margin-top: 1rem;
   width: 170px;
}

.wallHub__nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.wallHub__nav a {
   margin: 0 1rem;
   font-size: 1.2rem;
   font-weight: 500;
   color: var(--text-color);
}

.wallHub__nav a:hover {
   color: var(--sky-blue);
   font-weight: 600;
   transition: all 0.3s ease-in-out;
}

a.wallHub__nav-active {
   color: var(--sky-blue);
   font-weight: 600;
}

.wallHub__nav-login button,
.wallHub__header-menu_login button {
   padding: 0.5rem 1rem;
   border: none;
   border-radius: 5px;
   background-color: var(--sky-blue);
   color: var(--bg-color);
   font-size: 1.2rem;
   font-weight: 500;
   cursor: pointer;
}

.wallHub__header-menu_login{
   display: none;
}

.wallHub__nav-toggler {
   cursor: pointer;
   display: none;
}

.wallHub__header-menu_links {
   display: none;
   justify-content: space-between;
   align-self: start;
   flex-direction: column;
   background-color: var(--medium-gray);
   color: var(--bg-color);
}

.wallHub__header-menu_links-link,
.wallHub__header-menu_login {
   font-size: 1.2rem;
   font-weight: 500;
   padding: 1rem 6rem;
   border: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:1050px) {
   .wallHub__nav-toggler{
      display: block;
   }
   .wallHub__header-menu_links{
      display: flex;
   }
   .wallHub__nav-links{
      display: none;
   }
}

@media screen and (max-width: 700px) {
   .wallHub__header-main{
      padding: .25rem 4rem;
   }
   .wallHub__header__logo img{
      width: 150px;
   }
   .wallHub__nav a{
      font-size: 1rem;
   }
   .wallHub__nav-login button,
   .wallHub__header-menu_login button{
      font-size: 1rem;
   }
   .wallHub__header-menu_links-link,
   .wallHub__header-menu_login{
      font-size: 1rem;
      padding: 1rem 4rem;
   }
}

@media screen and (max-width:550px) {
   .wallHub__header-main{
      padding: .25rem 2rem;
   }
   .wallHub__header__logo img{
      width: 120px;
   }
   .wallHub__nav a{
      font-size: .8rem;
   }
   .wallHub__nav-login button,
   .wallHub__header-menu_login button{
      font-size: .8rem;
   }
   .wallHub__nav-login{
      display: none;
   }
   .wallHub__header-menu_login{
      display: block;
   }
   .wallHub__header-menu_links-link,
   .wallHub__header-menu_login{
      font-size: .8rem;
      padding: 1rem 2rem;
   }
}