.header__container {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 100;
   width: 100%;
   transition: var(--default-transition);
}

/* ? this class name will assign when header is at top */
.wallHub__header-transparent {
   background-color: transparent;
}

/* ? font color will change when its transparent */
.wallHub__header-transparent a {
   color: var(--main-color-light);
}

/* ? this is the default class name of header */
.wallHub__header-default {
   background-color: var(--main-color-light);
   border-bottom: 1px solid #ccc;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ? this is the default color of the text */
.wallHub__header-default a {
   color: var(--main-color-dark);
}

/* ? this class name used in navbar menu (menu used in small devices) */
a.wallHub__header-menu_links-link {
   color: var(--main-color-light);
}

.wallHub__header-main {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: .25rem var(--margin-x);
   height: var(--header-height);
}

.wallHub__header__logo img {
   margin-top: .75rem;
   width: 140px;
}

.wallHub__nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.wallHub__nav a {
   margin: 0 0 0 2rem;
   font-size: var(--a-font-size);
   font-weight: var(--font-weight-mid);
}

.wallHub__nav a:hover {
   color: var(--main-sky-blue);
   font-weight: var(--font-weight-high);
   transition: var(--default-transition);
}

/*! colors are specified at top */
.wallHub__nav-login button,
.wallHub__header-menu_login button {
   padding: 0.5rem 1rem;
   border: none;
   border-radius: 5px;
   background-color: var(--main-sky-blue);
   color: var(--main-color-light);
   font-size: var(--a-font-size);
   font-weight: 500;
   cursor: pointer;
}

.wallHub__header-search {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 .5rem;
   height: 2.5rem;
   width: 50%;
   border-radius: 5px;
   background-color: var(--main-color-light);
   border: 1px solid var(--main-color-dark);
}
.wallHub__header-search form {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.wallHub__header-search input {
   height: 100%;
   /* ! 27px is the size of search icon*/
   width: calc(100% - 27px);
   border: none;
   outline: none;
   font-size: var(--a-font-size);
   font-weight: var(--font-weight-mid);
   color: var(--main-color-dark);
   background-color: transparent;
}

.wallHub__header-search button {
   size: var(----default-icon-size);
   border: none;
   outline: none;
   background-color: transparent;
   cursor: pointer;
}


/* -----------mobile menu------------ */

.wallHub__header-menu_login {
   display: none;
}

.wallHub__nav-toggler {
   cursor: pointer;
   display: none;
}

.wallHub__header-menu_links {
   display: none;
   justify-content: space-between;
   align-self: start;
   flex-direction: column;
   background-color: var(--main-color-dark);
}


.wallHub__header-menu_links-link,
.wallHub__header-menu_login {
   font-size: var(--a-font-size);
   font-weight: var(--nav-font-weight);
   padding: 1rem var(--margin-x);
   border: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:1050px) {
   .wallHub__nav-toggler {
      display: block;
   }

   .wallHub__header-menu_links {
      display: flex;
   }

   .wallHub__nav-links {
      display: none;
   }
}

@media screen and (max-width: 1050px) {
   .wallHub__nav a {
      margin: 0 1rem 0 0;
   }
}

@media screen and (max-width: 768px) {

   .wallHub__header__logo img {
      width: 150px;
   }

   .wallHub__nav-login {
      display: none;
   }

   .wallHub__header-menu_login {
      display: block;
   }
}

@media screen and (max-width:550px) {

   .wallHub__header__logo img {
      margin-top: 0;
      width: 30px;
   }
}