.header__container {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 100;
   width: 100%;
   transition: var(--default-transition);
}

/* ? this class name will assign when header is at top */
.wallHub__header-transparent {
   background-color: transparent;
}


/* ? this is the default class name of header */
.wallHub__header-default {
   background-color: var(--main-color-light);
   border-bottom: 1px solid #ccc;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.wallHub__header-main {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: .25rem var(--margin-x);
   height: var(--header-height);
}

.wallHub__header__logo img {
   margin-top: .75rem;
   width: 140px;
}

/** ---------------nav links---------------  */

.wallHub__nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* ? font color will change when its transparent class name */
.wallHub__header-transparent .wallHub__nav-button a {
   color: var(--main-color-light);
}

/* ? font color will change when its default class name */
.wallHub__header-default .wallHub__nav-button a {
   color: var(--main-color-dark);
}

/*! font colors are specified at top */
.wallHub__nav-button a {
   margin: 0 0 0 2rem;
   font-size: var(--a-font-size);
   font-weight: var(--font-weight-mid);
}

.wallHub__nav-button a:hover {
   color: var(--main-sky-blue);
   font-weight: var(--font-weight-high);
   transition: var(--default-transition);
}

.wallHub__nav-signup button,
.wallHub__nav-login button {
   padding: 0.5rem 1rem;
   border: none;
   border-radius: 5px;
   background-color: var(--main-sky-blue);
   color: var(--main-color-light);
   font-size: var(--a-font-size);
   font-weight: 500;
   cursor: pointer;
}

.wallHub__nav-login {
   display: none;
}

.wallHub__nav-icon {
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   border: none;
   background: transparent;
}

.wallHub__nav-icon svg:hover {
   fill: #808080;
   transition: var(--default-transition);
}

@media screen and (max-width:1050px) {

   .wallHub__nav-signup,
   .wallHub__nav-links {
      display: none;
   }

   .wallHub__nav-login {
      display: block;
   }
}

@media screen and (max-width: 1050px) {
   .wallHub__nav a {
      margin: 0;
   }
}

@media screen and (max-width: 768px) {

   .wallHub__header__logo img {
      width: 150px;
   }

   .wallHub__header-search {
      height: 2.3rem;
   }
}

@media screen and (max-width:550px) {

   .wallHub__header__logo img {
      margin-top: 0;
      width: 27px;
   }
}