.wallHub__uploadPost {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   background-color: var(--main-color-light);
   padding: 2rem var(--margin-x);
}

.wallHub__uploadPost-backButton {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.5rem 1rem;
   border-radius: 10px;
   background: var(--input-bg-color);
   border: none;
   color: var(--main-color-dark);
   font-size: var(--h3-font-size);
   align-self: flex-start;
   cursor: pointer;
}

.wallHub__uploadPost-form {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   width: 100%;
   margin-top: 3rem;
}

.wallHub__uploadPost-form_textInput {
   width: 100%;
   border-radius: 10px;
   background: var(--main-color-light);
   border: none;
   outline: none;
   color: var(--main-color-dark);
   font-size: var(--h2-font-size);
   font-weight: var(--font-weight-extreme);
   white-space: pre-wrap;
   word-wrap: break-word;

   &::placeholder {
      color: var(--light-color-gray);
   }
}

.wallHub__uploadPost-form_imgInput-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 2rem;
   padding: 0 1rem;
   width: 100%;
   height: 400px;
   background: var(--light-input-bg-color);
   border: dashed 1px var(--main-sky-blue);
   border-radius: 20px;
   cursor: pointer;
}

.wallHub__uploadPost-form_imgInput-container h4 {
   margin-top: 1rem;
   font-size: var(--h4-font-size);
   color: var(--main-color-dark);
}

.wallHub__uploadPost-form_imgInput-container h4 span {
   color: var(--main-sky-blue);
}

.wallHub__uploadPost-form_image-container {
   position: relative;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   margin-top: 2rem;
   /* width: 100%; */
}

.wallHub__uploadPost-form_image-container img {
   max-width: 100%;
   max-height: 100%;
   width: auto;
   height: auto;
   border-radius: 10px;
}

.wallHub__uploadPost-form_image-remove_container {
   position: absolute;
   top: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 3rem;
   height: 3rem;
   margin: 0.5rem 0.5rem 0 0;
   background: rgba(0, 0, 0, 0.5);
   border-radius: 10px;
   cursor: pointer;
}

.wallHub__uploadPost-form_image-remove {
   position: absolute;
   width: 1.5rem;
   height: 1.5rem;
   color: red;
}

.wallHub__uploadPost-form_textarea {
   width: 100%;
   height: 100px;
   margin-top: 1rem;
   background: var(--main-color-light);
   border: none;
   outline: none;
   color: var(--main-color-dark);
   font-size: var(--h4-font-size);
   font-weight: var(--font-weight-mid);
   font-family: var(--primary-font-family);
   resize: none;

   &::placeholder {
      color: var(--light-color-gray);
   }
}

.wallHub__uploadPost-form_tag-head {
   font-size: var(--h2-font-size);
   color: var(--main-color-dark);
}

.wallHub__uploadPost-form_tag-container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   margin-top: 1rem;
   width: 100%;
   background: var(--input-bg-color);
   border-radius: 15px;
   padding: 1rem 2rem;
}

.wallHub__uploadPost-form_tag-display {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   flex-wrap: wrap;
   width: 100%;
   margin-top: 0.5rem;
   margin-bottom: 2rem;
   padding: 0.5rem;
   background-color: var(--main-color-light);
   border-radius: 15px;
}

.wallHub__uploadPost-form_tag-box {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0.5rem 0.5rem 0.5rem 0.5rem;
   padding: 0.5rem 1rem;
   background-color: var(--input-bg-color);
   color: var(--main-color-dark);
   border-radius: 10px;
   position: relative;
}

.wallHub__uploadPost-form_tag-box svg {
   position: absolute;
   /* little outside of the relative */
   top: -5px;
   right: -5px;
   width: 20px;
   height: 20px;
   fill: var(--main-color-dark);
   cursor: pointer;
}

.wallHub__uploadPost-form_tagInput-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
}

.wallHub__uploadPost-form_tagInput-container_col1 {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   width: 100%;
}

.wallHub__uploadPost-form_tagInput {
   width: 250px;
   height: 40px;
   padding: 1rem;
   border-radius: 10px;
   outline: none;
   border: 2px var(--light-color-gray) solid;
   background: var(--main-color-light);
   color: var(--main-color-dark);
   font-size: var(--p-font-size);
   font-weight: var(--font-weight-low);
   font-family: var(--primary-font-family);

   &::placeholder {
      color: var(--light-color-gray);
   }
}

.wallHub__uploadPost-form_tagButton {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 1rem;
   padding: 0.5rem 1rem;
   border-radius: 10px;
   background: var(--main-color-dark);
   border: none;
   color: var(--main-color-light);
   font-size: var(--p-font-size);
   font-weight: var(--font-weight-mid);
   font-family: var(--primary-font-family);
   cursor: pointer;
}

/* ? tag's error p */
.wallHub__uploadPost-form_tagInput-container p {
   margin-top: 0.5rem;
}

.wallHub__uploadPost-form_submitButton-container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   margin-top: 4rem;
   width: 100%;
}

.wallHub__uploadPost-form_submitButton-container p {
   margin-bottom: 0.5rem;
}

.wallHub__uploadPost-form_guidelines-p {
   font-size: var(--small-font-size);
   color: var(--main-color-dark);
}

.wallHub__uploadPost-form_guidelines-p a {
   color: var(--main-sky-blue);
   text-decoration: underline;
}

.wallHub__uploadPost-form_submitButton {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 1rem;
   padding: 0.5rem 1rem;
   border-radius: 10px;
   background: var(--main-sky-blue);
   border: none;
   color: var(--main-color-light);
   font-size: var(--p-font-size);
   font-family: var(--primary-font-family);
   cursor: pointer;
}

@media only screen and (max-width: 768px) {
   .wallHub__uploadPost-form_imgInput-container {
      height: 300px;
   }

   .wallHub__uploadPost-form_image-container {
      height: 300px;
   }
   .wallHub__uploadPost-form_image-remove_container {
      justify-content: center;
      width: 2rem;
      height: 2rem;
      margin: 0.5rem 0.5rem 0 0;
   }

   .wallHub__uploadPost-form_image-remove {
      width: 1rem;
      height: 1rem;
   }
}

@media only screen and (max-width: 550px) {
   .wallHub__uploadPost-form_imgInput-container {
      height: 200px;
   }

   .wallHub__uploadPost-form_image-container {
      height: 200px;
   }

   .wallHub__uploadPost-form_image-remove_container {
      justify-content: center;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0.25rem 0.25rem 0 0;
      border-radius: 7px;
   }

   .wallHub__uploadPost-form_image-remove {
      width: 0.75rem;
      height: 0.75rem;
   }

   .wallHub__uploadPost-form_tag-container {
      padding: 1rem;
   }

   .wallHub__uploadPost-form_tagInput-container {
      flex-direction: column;
      align-items: flex-start;
   }
   .wallHub__uploadPost-form_tagInput-container_col1 {
      flex-direction: column;
   }

   .wallHub__uploadPost-form_tagInput {
      width: 100%;
   }

   .wallHub__uploadPost-form_tagButton {
      margin-left: 0;
      margin-top: 1rem;
   }
}
